body {
  background: url('https://as1.ftcdn.net/jpg/02/62/16/86/500_F_262168675_hvw5kxiW19v5sopN4vTDkyHSt9PrxuiV.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.fa_custom {
  color: #00080a
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }